* {
    margin: 0;
    padding: 0;
  }
  
body {
    font-family: "Poppins", sans-serif;
}
  
main {
    padding-top: 8vh;
    height: 96vh;
    margin: 0 12rem;
    box-sizing: border-box;
    min-height: fit-content;
}

section {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    height: 100%;
    padding: 2rem 0 2rem 0;
    height: fit-content;
}

